$vodafoneRed: #e60000;
$melonmelody: #f8c291;

//Header Component
$navBgColor: rgba(0,0,0,0.8);
$navFontColor: #f5f5f7;
$navHoverColor: #fff;
$navIconSize: 1.5rem;
$cartIconSize: 2rem;
$searchLensIconSize: 1rem;
$toggleBgColor: #fff;
$searchInputHeight: 2rem;
$searchInputFontSize: 1.05rem;
$searchBarBorderColor: #000;
$searchBarBgColor: #f3f3f4;
$searchBarBorderRadius: 10px;
$ActionColor: #ffffff;

//Card Component
$cardBoxShow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
$cardImageWidth: 135px;
$cardImageHeight: 160px;

//Pagination
$paginationBgColor: #f5f5f7;
$paginationButtonColor: #ffffff;

//Details Page
$summaryBgColor: #fafafa;

//Tariff
$tariffButtonBgColor: #50647d;
